* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
}

main {
    width: 320px;
    margin: 0 auto;
}

#msg {
    padding: 0 1em;
    font-style: italic;
}
p {
    text-align: center;
    margin: 1em auto;
    padding: 5px 0;
    min-height: 2.5em;
    border: 3px double transparent;
    border-radius: 5px;
}
.error {
    border-color: red;
}
.hide {
    display: none;
}

#board {
    padding: .5em;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(13, 1fr);
    gap: .5em;

    background-color: sienna;
    border-radius: 15px;
    border-style: outset;
}

#solution {
    grid-row: 1;
    grid-column: 2 / span 4;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
}

#cover {
    grid-row: 1;
    grid-column: 2 / span 4;

    background-color: sienna;
    border: 2px outset dimgray;

    /* hide when everything is working */
    /* opacity: .5; */

    align-items: center;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: sienna;
    text-shadow: 1px 0px 3px black;
    line-height: 1.2em;
}
sup {
    font-size: .5em;
}

#guesses {
    grid-column: 1 / span 5;
    grid-row: 2 / span 13;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    gap: .5em;
}

#pegbox {
    grid-row: 4 / span 6;
    grid-column-start: 6;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: .5em;
}
#pegbox .peg {
    height: auto;
}

#buttons {
    grid-column-start: 6;
    grid-row: 11 / span 2;

    display: grid;
    gap: .5em;
}

.code,
.keys {
    justify-items: center;
    align-items: center;

    border: 2px inset grey;
    border-radius: 10px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: .5em;
}

.active .code {
    border-style: outset;
}

.code {
    display: grid;
    grid-auto-flow: column;
}
.code .peg {
    margin: .25em auto;
}

.keys {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.peg {
    border-width: 1px;
    border-style: outset;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.peg div {
    margin: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
div[draggable] {
    cursor: grab;
}

.keys .peg {
    width: 10px;
    height: 10px;
}

.color-1 { 
    background-color: yellow;
    background-image: radial-gradient(circle at 30% 30%, yellow, dimgrey);
}
.color-2 {
    background-color: dodgerblue; 
    background-image: radial-gradient(circle at 30% 30%, dodgerblue, dimgrey);
}
.color-3 {
    background-color: red; 
    background-image: radial-gradient(circle at 30% 30%, red, dimgrey);
}
.color-4 {
    background-color: springgreen; 
    background-image: radial-gradient(circle at 30% 30%, springgreen, dimgrey);
}
.color-5, .color {
    background-color: white; 
    background-image: radial-gradient(circle at 30% 30%, white, dimgrey);
}
.color-6, .position {
    background-color: black; 
    background-image: radial-gradient(circle at 70% 70%, black, dimgrey);
}